header {
  nav {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 6px 4px darken($background-color, 20%);
    position: relative;
    justify-content: center;
    z-index: 2;

    a.link-arrow {
      width: 10%;
      padding-left: 5%;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2% 0%;

      img {
        width: 55%;
      }
    }
  }
}

// Media queries
@media #{$desktop-2000} {
  header {
    nav {
      a.link-arrow {
        font-size: $title-size-2k;
      }

      a img {
        width: 75%;
      }
    }
  }
}

@media #{$tablet-1000} {
  header {
    nav {
      a {
        padding: 3% 0%;
      }
    }
  }
}

@media #{$mobile-500} {
  header {
    nav {
      a.link-arrow {
        width: 10%;
        padding-left: 5%;
      }

      a {
        padding: 5% 0%;
      }
    }
  }
}
